/*
	Site:		ProCSSBook.com
	Title:      Isolated CSS rules for alpha transparency
	Author:     Christopher Schmitt, http://christopherschmitt.com/
	Updated:    Sunday; March 12, 2006
*/

#frame {
}


#header h1 {
}


#downloads ul {
}


#downloads ul:hover {
}

#buybook {
}

#buybook ul {
}

#buybook ul:hover {

