/*
	Site:		ProCSSbook.com
	Title:      CSS rules for images
	Author:     Christopher Schmitt, http://christopherschmitt.com/
	Updated:    Monday; March 13, 2006
*/

body {
	background-image: url(/assets/img/procss_bkgd_body.jpg);
}

#frame {
	background-image: url(/assets/img/procss_bkgd_frame.jpg);
	background-repeat: no-repeat;
}

#header h1 {
	background-image: url(/assets/img/procss_cover.png);
}

blockquote {
	text-indent: -1000em;
	background-image: url(/assets/img/procss_quote.gif);
	background-repeat: no-repeat;
	background-position: 0 47px;
	overflow: hidden;
}


#belowfold {
	background-image: url(/assets/img/procss_bkgd_belowfold.jpg);
	background-repeat: no-repeat;
}

#footer {
	background-image: url(/assets/img/procss_bkgd_footer.gif);
	background-repeat: no-repeat;
}

#downloads ul {
	background-image: url(/assets/img/procss_alpha_10_fade2.jpg);
}


#downloads ul li:hover {
	background-color: #3d000b;
}

#buybook {
	background-image: url(/assets/img/procss_alpha_10_fade2.jpg);
	background-repeat: no-repeat;
	background-position: bottom;

}

#buybook ul {
	background-image: url(/assets/img/procss_alpha_10_fade2.jpg);
	
}

#buybook ul li:hover {
	background-color: #3d000b;
}

#buybook a:link, #buybook a:visited,
#downloads a:link, #downloads a:visited {
	background-image: url(/assets/img/gold_bullet.gif);
	background-position: 13px .8em;
	background-repeat: no-repeat;
}


#buybook a:hover, #buybook a:active,
#downloads a:hover, #downloads a:active {
	background-image: url(/assets/img/white_bullet.gif);
	background-position: 13px .8em;
	background-repeat: no-repeat;	
}
